*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: linear-gradient(to right, #ffffff, #f3d0f7, #ff97cc, #ff557e, #eb1212);
}
body{
    max-width: 100%;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
}
button{
    background: transparent;
    border: 0;
}
span{
    color: #f00;
}

/*Header*/
nav.navbar{
    width: 100%;
    position: fixed;
    z-index: 500;
    background-image: linear-gradient(to right, #ffffff, #f3d0f7, #ff97cc, #ff557e, #eb1212);
}
#btn-buscar-filme.btn.btn-outline-success{
    background-color: #fff;
    border: none;
    color: #3d3d3d;
}
#btn-buscar-filme.btn.btn-outline-success:hover{
    color: #ff1334;
}

/*Container*/
#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #ffffff, #f3d0f7, #ff97cc, #ff557e, #eb1212);
}

/*Slider*/
.slider {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(18vw * 14);
}
.slider .slide img {
    width: 100%;
}
.slide {
    width: 100%;
    max-width: 800px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
  }

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-18vw * 7));
        transform: translateX(calc(-18vw * 7));
    }
}

/*Filmes*/
#lista-filmes{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

#mostrar-filmes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Card*/
.card{
    width: 250px;
    margin: 5px;
}
img.card-img-top{
    max-height: 300px;
}
.card-body{
    text-align: center;
}
/*Buttons*/
a.btn.btn-primary{
    background-image: linear-gradient(to left bottom, #ff0000, #ff1334, #ff2c55, #ff4472, #ff598c);
    border: none;
    color:#fff;
    margin-top: 10px;
}

button.btnDetalhesFilme{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background-image: linear-gradient(to right bottom, #ff0000, #ff1334, #ff2c55, #ff4472, #ff598c);
    color:#fff;
    border-radius: 5px;
    
}

/* Arrumando o slider */
@media screen and (max-width: 500px) {
    .slide {
        width: 100%;
        max-width: 800px;
        height: 200px;
        display: inline-block;
        vertical-align: top;
    }
}

/* Arrumando os cards */
.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(10px);
    }

    @media screen and (max-width: 390px) {
      .card2 {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
      }
    
      .card-img-top {
        max-width: 100%;
      }
    
      .card-body2 {
        width: 100%;
      }
    
      .hCardTitle {
        font-size: 1rem;
      }
    
      .card-body2 > div {
        margin-top: 5px;
        font-size: 0.8rem;
      }
      #btnFechar{
        margin-left: 20px;
      }
    }
